@*https://www.udemy.com/building-a-mvc-5-membership-website/learn/lecture/5005968#overview*@

<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
        @*Place menu items*@
        <li><a href="/Tech">&nbsp;&nbsp;Tech Menu</a></li>
        <li><a href="/Message/AdminIndex">&nbsp;&nbsp;Edit Tickets</a></li>
    </ul>
</li>
